name: CI

on:
  push:
    branches: [ master ]

  pull_request:
    branches: [ master ]

  workflow_dispatch: {}

jobs:
  Job:
    name: Node.js
    uses: fengmk2/github-actions/.github/workflows/node-test-mysql.yml@master
    with:
      os: 'ubuntu-latest'
      version: '16, 18'
